<% if user_signed_in? %>
 <div data-controller="firebase">
  <div> Welcome <%= current_user.email %> </div>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
  </div>
<% else %>
  <%= button_to "Sign in", new_user_session_path %>
<% end %>
<h1>Hello DigitalOcean!</h1>
